asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2.15
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.18
pillow==12.3.0
PyJWT==2.13.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
gunicorn==21.2.0
